body {
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.header-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-left h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #ffffff;
}

.header-left div {
    font-size: 1.2rem;
    color: #ffffff;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right-text {
    text-align: center;
}

.header-right-text h2 {
    font-size: 1.8rem;
    margin: 0;
    color: #ffffff;
}

.header-right-text div {
    font-size: 1.5rem;
    color: #ffffff;
}

.header-right img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.header-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-title {
    text-decoration: none;
    color: #ffffff;
    transition: opacity 0.2s ease;
    display: block; /* Ajout important */
    height: 100%; /* Ajout important */
    width: 100%; /* Ajout important */
}

/* Force le h1 à prendre tout l'espace disponible */
.header-title h1 {
    font-size: 2.5rem;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.header-title div {
    font-size: 1.2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: -200px;
}

.tiles-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Définit quatre colonnes égales */
    gap: 25px; /* Ajoute de l'espace entre les tuiles */
    justify-content: center; /* Centre les colonnes horizontalement */
}

.tile {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 150px;
}

.tile#tile5_1 {
    opacity: 0; /* Rend la tuile transparente */
    pointer-events: none; /* Désactive les événements de clic ou survol */
    cursor: not-allowed; /* Affiche un curseur indiquant que l'élément est inutilisable */

}

.tile#tile5_1:hover {
    cursor: default; /* Force le curseur à rester par défaut */
}

.tile:hover {
    transform: translateY(-5px);
    background-color: #333333;
}

.tile h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 5px; /* Espacement autour du texte */
    display: inline-block; /* S'adapte à la taille du texte */
}

.tile p {
    color: #cccccc;
    line-height: 1.2;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 5px; /* Espacement autour du texte */
    display: inline-block; /* S'adapte à la taille du texte */
    margin-top: 60px; /* Pousse la description vers le bas de la tuile */
}

.timeline {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 0;
    padding: 10px 0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.timeline-arrow {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #333;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%);
}

.timeline-year {
    text-align: center;
    position: relative;
    margin-top: 60px; /* Ajoute de l'espace pour éviter que les tuiles soient coupées */
}

.timeline-year h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #ffffff;
}

.timeline-year .tile {
    margin-top: 20px; /* Espace supplémentaire pour les tuiles */
    text-decoration: none;
    display: block;
    width: 200px; /* Assurez-vous que la largeur est définie */
    height: auto; /* Ajuste la hauteur automatiquement */
}

.round-button {
    position: fixed;
    bottom: 20px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px; /* Taille du bouton */
    height: 100px; /* Taille du bouton */
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 70px; /* Centrage vertical du texte */
    font-size: 18px; /* Taille de la police */
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    border: 2px solid white; /* Contour blanc */
}

.round-button:hover {
    background-color: #3b2e2e;
}

/* Media query pour les écrans de téléphone */
@media (max-width: 768px) {
    .content-wrapper {
        padding: 10px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 60px;
    }

    .header-left, .header-right {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .header-right img {
        width: 80px;
        height: 80px;
    }

    .tiles-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes pour les petits écrans */
        gap: 15px;
        margin-top: 200px; /* Augmente l'espace au-dessus des tuiles */
    }

    .tile {
        width: 140px; /* Augmente légèrement la largeur des tuiles */
        height: 180px; /* Augmente légèrement la hauteur des tuiles */
        padding: 10px; /* Réduit le padding pour les petits écrans */
        box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    }

    .tile h3 {
        margin: 0; /* Supprime les marges par défaut */
        text-align: center; /* Centre le texte */
    }

    .tile p {
        margin: 20px 0 0 0 0; /* Ajoute une marge supérieure pour descendre la description */
        text-align: center; /* Centre le texte */
    }

    .timeline {
        flex-direction: column;
        align-items: center;
    }

    .timeline-year {
        margin-top: 30px;
    }

    .round-button {
        width: 70px;
        height: 70px;
        line-height: 50px;
        font-size: 16px;
    }

    .tile#tile5 {
        display: none; /* Masque la tuile uniquement sur les petits écrans */
    }
}

#baccalaureat-tile {
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease, width 0.5s ease, height 0.5s ease, background-color 0.5s ease;
}

#baccalaureat-tile.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70vw; /* Ajustez la largeur pour éviter qu'elle ne dépasse */
    height: 70vh; /* Ajustez la hauteur pour éviter qu'elle ne dépasse */
    transform: translate(-50%, -50%) scale(1); /* Centre et agrandit l'image */
    z-index: 1000;
    background-color: #ffffff; /* Change la couleur de fond en blanc */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre pour l'effet de profondeur */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

#baccalaureat-tile.zoomed::before {
    content: '';
    background-image: url('./images/millet.jpg'); /* Assurez-vous que le chemin est correct */
    background-size: cover;
    background-position: center;
    width: 100px; /* Taille de l'image en haut à droite */
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 20px;
    right: 20px;
}
